@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(204, 228, 80);
}

.dark {
    background-color: black;
}

main {
    min-height: 62.3vh;
    background-color: rgba(235, 231, 231, 0.703);
    margin: 15px;
    border-radius: 3px;
    box-shadow: -5px 5px 5px 0px #A4A5AD,
        5px -5px 4px -1px #CEBBC9;
}

.boton_info {
    background-color: rgb(204, 228, 80);
}

.verde {
    background-color: rgb(204, 228, 80);
}

.financiero {
    width: 300px;
}

.disclaimer {
    font-size: 12px;
}

/*.switch {
    width: 60px;
    height: 30px;
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch:active {
    background-color: rgb(204, 228, 80);
}

.switch:active::after {
    right: 0;
    left: unset;
}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch>span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}*/

/* TARJETA */

.cardCredit{
width: 320px;
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
}

.cardCredit__part{
  box-shadow: 1px 1px #aaa3a3;
    top: 0;
  position: absolute;
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.gold {
    background-image: linear-gradient(90deg, rgb(247, 228, 55) 0%, rgba(162,210,111,1) 100%);
}

.silver {
    background-image: linear-gradient(90deg, rgb(148, 147, 144) 0%, rgba(162,210,111,1) 100%);
}

.titanium {
    background-image: linear-gradient(90deg, rgb(74, 73, 72) 0%, rgba(162,210,111,1) 100%);
}

.cardCredit__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.cardCredit__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

.cardCredit__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.cardCredit__logo {
    height: 16px;
}

.cardCredit__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.cardCredit__square {
    border-radius: 5px;
    height: 30px;
}

.cardCredit_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(15, 15, 15);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cardCredit__space-50 {
    width: 50%;
    float: left;
}

.cardCredit__space-25 {
    width: 25%;
    float: left;
}

.cardCredit__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(15, 15, 15);
    font-weight: bold;
    letter-spacing: 1px;
}

.cardCredit__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: rgb(15, 15, 15);
    font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cardCredit__back-content {
    padding: 15px 15px 0;
}
.cardCredit__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.cardCredit__secret {
    width: 278px;
    height: 33px;
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.cardCredit__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.relative {
    position: relative;
    bottom: 35px;
    font-family: 'Comforter Brush', cursive;
    font-size: 40px;
}

.cardCredit__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.cardCredit__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.cardCredit:hover .cardCredit__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.cardCredit:hover .cardCredit__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

.blanco {
    color: white !important;
}

.chip {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
    overflow: hidden;
}

.chip-line {

    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333;
}

.chip-line:nth-child(1) {

    top: 13px;
}

.chip-line:nth-child(2) {
    top: 20px;
}
.chip-line:nth-child(3) { 
    top: 28px; 
}
.chip-line:nth-child(4) {
    left: 25px; 
    width: 1px ;
    height: 50px;
}

.chip-main {
    width: 20px; 
    height: 25px ;
    border: 1px solid #333 ;
    border-radius: 3px ;
    background-image: linear-gradient(to bottom left, #efdbab, #e1cb94) ;
    z-index: 1;
}


@media screen and (max-width: 768px) {
    
}


@media screen and (max-width: 425px) {

    .cotizacion {
        flex-direction: column;
        align-items: center;
    }

    .cardCredit__part .cardCredit{
        width: 90%;
    }
}

@media screen and (max-width: 375px) {

    .tarjetaMovil {
        width: 100%;
    }

    .cardCredit__part{
        width: 100%;
    }

    .cardCredit__secret {
        width: 240px;
    }

    .none {
        display: none;
    }
}

/*{ 'cardCredit__part_gold': tarjeta.color == 'GOLD', 'cardCredit__part_titanium': tarjeta.color == 'TITANIUM', 'cardCredit__part_silver': tarjeta.color == 'SILVER' */